@font-face {
    font-family: SquareSans;
    src: url(ASSets/fontreg.ttf);
}

body {
    background-color: black;
}

h1 {
    color: white;
    size: 50px;
    font-family: SquareSans;
    text-align: center;
}

p{
    color: white;
    size: 20px;
    font-family: SquareSans;
    text-align: center;
    float: center;

}

a{
    color: lightblue;
    size: 20px;
    font-family: SquareSans;
    text-align: center;
}

e {
    color: white;
    size: 20px;
    font-family: SquareSans;
    text-align: justify;
}

s {
    color: white;
    size: 10px;
    font-family: SquareSans;
    text-align: justify;
}

e1 {
    color: white;
    size: 50px;
    font-family: SquareSans;
    text-align: justify;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    z-index: 5;
    
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 17px;
    font-family: SquareSans;
    z-index: 5;
}

.topnav b {
    float: right;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font: 20px;
    font-family: SquareSans;
    z-index: 5;
}

.topnav a:hover {
    background-color: lightskyblue;
    color: black;
}


.topnav a:active {
    background-color: blue;
    color:white
}

body, html {width: 100%;
height: 100%;
}

iframe {width: 100%;
height: 100%;
border: none;}

.button-container {
    display: flex;
    flex-direction: column;    /* stack buttons vertically */
    align-items: center;       /* center them horizontally */
}

.button {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;            
    font-size: 18px;
    cursor: pointer;
    font-family: SquareSans;
    margin: 5px 0;
    width: 250px;              
    padding: 20px 0;
    border-radius: 4px;        
}